
<div class="row">
  <div class="col-sm-1">

  </div>
  <div class="col-sm-5">
    <img src="assets/tooplate_logo.png" class="image">
    <p>free HTML templates for your websites</p>
  </div>
  
<div class="col-sm-2">
    <br>
    <br>
    <a mat-stroked-button color="primary">Free HTML templates</a>
  
  </div>

  <div class="col-sm-2">
    <br>
  <br>
  <a mat-stroked-button color="primary">556+ templates</a>
 
  </div>
  
<div class="col-sm-2">
  <br>
  <br>
  <a mat-stroked-button color="primary">Contact</a>

</div>
</div>
