<div class="row">
  <div class="col-sm-3">
<mat-card class="tooplate">
  <img mat-card-image src="assets/tooplate1.jpg">
  <a href="" style="text-align: center">Nano Folis</a>
  <mat-card-content>
    <p>
      Nano Folio is simple HTML website <br>template with a very light-weight<br>custom CSS file. This is a minimal layout...
    </p>
  </mat-card-content>
  </mat-card>
</div>
<div class="col-sm-3">
<mat-card class="tooplate">
  <img mat-card-image src="assets/tooplate2.jpg">
  <a href="" style="text-align: center">Wave Cafe</a>
  <mat-card-content>
    <p>
      Wave Cafe is one-page HTML template<br> with a video background. Contents are <br>separated into four sections....
         </p>
  </mat-card-content>
</mat-card>
</div>
<div class="col-sm-3">
  <mat-card class="tooplate">
    <img mat-card-image src="assets/tooplate3.jpg">
    <a href="" style="text-align: center">Ben's resume</a>
    <mat-card-content>
      <p>
        Ben's resume template can be served as <br>one-page HTML profile for anyone. You<br> can quickly edit and put your...
           </p>
    </mat-card-content>
  </mat-card>
  </div>
  <div class="col-sm-3">
    <mat-card class="tooplate">
      <img mat-card-image src="assets/tooplate4.jpg">
      <a href="" style="text-align: center">Gymso</a>
      <mat-card-content>
        <p>
          Gymso is a fitness one-page HTML <br>template for your gym business. This<br> scrolling layout includes a timetable...
             </p>
      </mat-card-content>
    </mat-card>
    </div>
</div>
<div class="row">
  <div class="col-sm-3">
<mat-card class="tooplate">
  <img mat-card-image src="assets/tooplate5.jpg">
  <a href="" style="text-align: center">Pixie</a>
  <mat-card-content>
    <p>
      Pixie is an ecommerce HTML Template in <br>blue color. You can convert this into any <br>kind of CMS theme. All 5...
    </p>
  </mat-card-content>
  </mat-card>
</div>
<div class="col-sm-3">
<mat-card class="tooplate">
  <img mat-card-image src="assets/tooplate6.jpg">
  <a href="" style="text-align: center">Earth</a>
  <mat-card-content>
    <p>
      Earth is a horizontal sliding HTML <br>Bootstrap template for your website.<br>First page has an image slider. About....
         </p>
  </mat-card-content>
</mat-card>
</div>
<div class="col-sm-3">
  <mat-card class="tooplate">
    <img mat-card-image src="assets/tooplate7.jpg">
    <a href="" style="text-align: center">Blugoon</a>
    <mat-card-content>
      <p>
        Blugoon is free Bootstrap 4 theme with <br>one-page scrolling layout. Left side has <br>a sticky main menu bar. This...
           </p>
    </mat-card-content>
  </mat-card>
  </div>
  <div class="col-sm-3">
    <mat-card class="tooplate">
      <img mat-card-image src="assets/tooplate8.jpg">
      <a href="" style="text-align: center">Marvel</a>
      <mat-card-content>
        <p>
          Marvel is simple portfolio HTML<br> template for personal sites. Theme color can be switched white or black...
             </p>
      </mat-card-content>
    </mat-card>
    </div>
</div>